/*  Debut de style de navbar */

/* debut de style globale pour navbar */
    .navbar{
        background-color: #000;
        color: #fff;
        font-family: "Roboto" , sans-serif;
        transition: all 0.8s;
    }
    .navbar img{
        width: 120px ;
    }
    .search-container{
        width: 400px ;
    }
/* fin de style globale pour navbar *